@import '~leaflet/dist/leaflet.css';
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.app {
  display: flex;
  flex-direction: column;
}

.navbar {
  width: 100%;
  background-color: red;
  padding: 10px 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar-links {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  margin-left: 20px;
}

.navbar-links li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.content {
  padding: 20px;
}


